<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/eventdetails/{{vm.event.id}}">Details</a></li>
    <li role="presentation"><a href="#/billdetails/{{vm.event.id}}">Bill</a></li>
</ul>

<div class="row row-eq-height">
    <div class="col-md-12">
        <h1>{{vm.event.name}}</h1>
        <p>{{vm.event.description}}</p>
        <div>
            <span class="label label-default label-participant" ng-repeat="(id,participant) in vm.event.participants">{{participant.name}} <button class="btn btn-sm btn-link" ng-click="vm.remove_participant_from_event(participant.id)"><i class="glyphicon glyphicon-remove"></i></button></span>
            <span><button class="btn btn-link btn-sm btn-participant" ng-click="vm.add_participant(vm.event.id)"><i class="glyphicon glyphicon-plus"></i></button></span>
        </div>
    </div>
</div>
<hr />
<div class="activity" ng-repeat="activity in vm.event.activities">
    <div class="row row-eq-height">
        <div class="col-md-12">
            <button class="btn btn-link btn-sm btn-participant pull-right" ng-click="vm.remove_activity_from_event(activity.id)" ><i class="glyphicon glyphicon-trash pull-right"></i></button>
            <h2>{{activity.name}}</h2>
            <span class="cost" >{{activity.cost | currency:"€"}}<button ng-click="vm.set_activity_cost(activity.id)" class="btn btn-sm btn-link btn-cost"><i class="glyphicon glyphicon-pencil"></i></button></span>
            <p>{{activity.description}}</p>

            <span class="label label-default label-participant" ng-repeat="id in activity.participants">{{vm.event.participants[id].name}} <button class="btn btn-sm btn-link" ng-click="vm.remove_participant_from_activity(activity.id, id)"><i class="glyphicon glyphicon-remove"></i></button></span>
            <span><button class="btn btn-link btn-sm btn-participant" ng-click="vm.add_participant_to_activity(activity.id)"><i class="glyphicon glyphicon-plus"></i></button></span>
        </div>
    </div>
    <div class="row items">
        <div class="col-md-4" ng-repeat="item in activity.items">
            <div class="fixed_height_cell">
                <button class="btn btn-link btn-sm btn-participant pull-right" ng-click="vm.remove_item_from_activity(activity.id, item.id)" ><i class="glyphicon glyphicon-trash pull-right"></i></button>

                <h2>{{item.name}}</h2>
                <span class="cost">{{item.cost | currency:"€"}}</span>
                <p>{{item.description}}</p>
                <span class="label label-default label-participant" ng-repeat="id in item.participants">{{vm.event.participants[id].name}} <button class="btn btn-sm btn-link" ng-click="vm.remove_participant_from_item(activity.id, item.id, id)"><i class="glyphicon glyphicon-remove"></i></button></span>
                <span><button class="btn btn-link btn-sm btn-participant" ng-click="vm.add_participant_to_item(activity.id, item.id)"><i class="glyphicon glyphicon-plus"></i></button></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="fixed_height_cell additem">
                <button title="Add Item" type="button" class="btn btn-link" aria-label="Centered" ng-click="vm.add_item_to_activity(activity.id)">
                    <span class="glyphicon glyphicon-plus-sign large-button"  aria-hidden="true"></span>
                </button>

                <span style="font-size: 30px">New Item</span>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="row items row-eq-height">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-info btn-custom" ng-click="vm.add_activity(vm.event.id)">+ Add activity</button>
    </div>
</div>