div.add_item p
{
    font-size: xx-large;
}

div.item
{
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    border-radius: 5px;
}

.glyphicon-user
{
    font-size:30px;
    padding: 5px;
}
.activity_buttons
{
    padding:10px;
}

div.item-user
{
    background-image: url("img/user.png");
    height:32px;
    width:32px;
    background-size:100%, 100%;

}

div.activity-user
{
    background-image: url("img/user.png");
    height:64px;
    width:64px;
    background-size:100%, 100%;
}

