<div class="row">
    <div class="col-xs-6 col-sm-3 " id="sidebar">
        <h2>Create new event</h2>
        <form>
            <div class="form-group">
                <label for="newEventName">Name</label>
                <input type="text" class="form-control" id="newEventName" placeholder="Name" ng-model="vm.newEvent.name">
            </div>
            <div class="form-group">
                <label for="newEventDescription">Description</label>
                <input type="text" class="form-control" id="newEventDescription" placeholder="Description"
                       ng-model="vm.newEvent.description">
            </div>
            <button type="button" class="btn btn-primary btn-custom" ng-click="vm.create_event()">Create Event</button>
        </form>
    </div><!--/.sidebar-offcanvas-->
</div>
