<div class="row row-eq-height">
    <div class="col-md-4 text-center">
        <button title="Add Event" type="button" class="btn btn-link" aria-label="Centered">
            <span class="glyphicon glyphicon-plus-sign large-button" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-4" ng-repeat="the_event in vm.events">
        <h2>{{the_event.name}}</h2>
        <p>{{the_event.description}}</p>
        <p><button class="btn btn-default btn-custom">View details &raquo;</button></p>
    </div>
</div>

<!--<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">-->
<!--<h2>Create new event</h2>-->
<!--<form>-->
<!--<div class="form-group">-->
<!--<label for="newEventName">Name</label>-->
<!--<input type="text" class="form-control" id="newEventName" placeholder="Name" ng-model="vm.newEvent.name">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="newEventDescription">Description</label>-->
<!--<input type="text" class="form-control" id="newEventDescription" placeholder="Description"-->
<!--ng-model="vm.newEvent.description">-->
<!--</div>-->
<!--<button type="button" class="btn btn-primary" ng-click="vm.create_event()">Create Event</button>-->
<!--</form>-->
<!--</div>&lt;!&ndash;/.sidebar-offcanvas&ndash;&gt;-->
