<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/eventdetails/{{vm.event.id}}">Details</a></li>
    <li role="presentation" class="active"><a href="#/billdetails/{{vm.event.id}}">Bill</a></li>
</ul>

<div class="row row-eq-height">
    <div class="col-md-12">
        <h1>{{vm.event.name}}</h1>
        <p>Spendings per participant</p>
    </div>
</div>

<div class="row row-eq-height">
    <!-- First part: grand total per participant-->
    <div class="col-md-6">
        <h2>Participant spendings</h2>
        <p>Click arrow to expand</p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="text-right">Paid</th>
                <th class="text-right">Still to pay</th>
                <th></th>
            </tr>
            </thead>
            <!-- <tr ng-repeat="participant in vm.event.participants"> <!-- -->
            <tr ng-repeat = "participantToPay in vm.bill.partipantToPays"> <!-- -->
                <td>{{participantToPay.participant.id}}</td>
                <td>{{participantToPay.participant.name}}</td>
                <td class="text-right">{{participantToPay.payed| currency:"€"}}</td>
                <td class="text-right">{{participantToPay.toPay| currency:"€"}}</td>
                <td>
                    <span ng-if="!vm.expanded||vm.shown_participant!==participantToPay.participant.id"
                          class="glyphicon glyphicon-triangle-bottom"
                          ng-click="vm.show_participant_bill(participantToPay.participant.id)"
                          aria-hidden="true"></span>
                    <span ng-if="vm.expanded&&vm.shown_participant===participantToPay.participant.id"
                          class="glyphicon glyphicon-triangle-right" ng-click="vm.hide()" aria-hidden="true"></span>
                </td>
            </tr>
        </table>

    </div>

    <div  ng-if="vm.expanded" class="col col-md-6">
        <h2>Specification for {{vm.bill.partipantToPays[vm.shown_participant].participant.name}}</h2>
        <p>Useful description</p>
        <!-- <h3 ng-repeat="billItem in vm.bill.partipantToPays[1]">{{billItem}}</h3> -->
        <table class = "table">
            <thead>
            <tr>
                <th>Description</th>
                <th class="text-right">Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rep in vm.bill.partipantToPays[vm.shown_participant].billItems">
                <td>{{rep.description}}</td>
                <td class="text-right">{{rep.cost| currency:"€"}}</td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
