/*https://coolors.co/2f2d2e-41292c-792359-fd3e81-ff00ae

background1: 2f2d2e
background2: 41292c
middle: 792359
front1:ff00ae
front2:fd3e81


*/

.header{
    background-color: #fd3e81;
    color: #2f2d2e;
    margin: 20px 0;
}
.header:hover {
    cursor: pointer;
}
.large-button{
    font-size:21em;
    color: #fd3e81;
}

.med-button{
    font-size:8em;
    color: #fd3e81;
}

.med-button:hover{
    color: #792359;
}

.large-button:hover{
    color: #792359;
}

body{
    background-color: #2f2d2e;
    color: #fd3e81;
}

.fixed_height_cell {
    height: 200px;
    background-color: #41292c;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
.btn-custom {
    background-color: #fd3e81;
    color: #2f2d2e;
    border-color: #792359;
}

.btn-custom:hover {
    background-color: #792359;
    border-color: #792359;
}

.label-participant {
    margin-right: 5px;
}

.label-participant button {
    color: white;
}
.label-participant button:hover {
    color: silver;
}

button.btn-participant {
    color: #fd3e81;
}

button.btn-participant:hover {
    color: #792359;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #2f2d2e;
    background-color: #fd3e81;
    /*border-color: #792359;*/
    border-bottom-color: #ddd;
}

.nav-tabs>li>a:hover {
    background-color: #fd3e81;
}

a {
    color: #fd3e81;
}

a:hover {
    color: #792359;
}